::selection {
  background: rgba(26, 179, 148, 0.3);
}

::-moz-selection {
  background: rgba(26, 179, 148, 0.3);
}

.pill-button {
  color: #1ab394;
}

.pill-button:hover, .pill-button.active {
  color: #1ab394;
}

.overlay-menu a:hover {
  color: #1ab394 !important;
}

.overlay-menu a.active {
  color: #1ab394 !important;
}

.bg-base-color {
  background-color: #1ab394 !important;
}

.base-color {
  color: #1ab394 !important;
}

.follow-label::before {
  background-color: #1ab394;
}

.social a:hover {
  color: #1ab394 !important;
}

.social-icon a:hover {
  color: #1ab394;
}

#pp-nav li:hover span {
  background-color: #1ab394 !important;
}

#pp-nav li .active span {
  background-color: #1ab394 !important;
}

.border-style {
  background-color: #1ab394;
}

.timeline-icon {
  border: 1px solid #1ab394;
  background-color: #1ab394;
}

.timeline-year {
  color: #1ab394;
}

.timeline-item:before {
  border: 1px solid #1ab394;
}

.skill-box .fill-skillbar {
  background-color: #1ab394;
}

.portfolio .portfolio-filter li a {
  color: #1ab394;
}

.testimonial .owl-dot.active span {
  background-color: #1ab394;
}

.blog-link a:hover {
  color: #0c9b7e !important;
}

.portfolio .portfolio-item-content:before {
  background-color: rgba(26, 179, 148, 0.9);
}

.portfolio .portfolio-icon a:first-child i, .portfolio .portfolio-icon a i {
  color: #1ab394;
}

.testimonial .owl-carousel .owl-dot.active span {
  background-color: #1ab394;
}

.contact .form-item .form-control {
  color: #1ab394;
}

.loader {
  border-top: 4px solid #1ab394 !important;
}

.flat-demo .button-border, .arshia-dark.flat-demo .button-border {
  background-color: #1ab394;
}

.flat-demo .pill-button:hover, .flat-demo .pill-button.active {
  background-color: #0c9b7e;
}

.arshia-dark .social-icon a:hover, .arshia-dark .social a:hover {
  color: #1ab394 !important;
}

.arshia-dark #pp-nav li .active span {
  background-color: #1ab394 !important;
}

.arshia-dark #pp-nav li:hover span {
  background-color: #1ab394 !important;
}